<div class="container delete-confirm">

  <h4><%= truncate(sanitize(@comment.processed_html, tags: []), length: 80) %></h4>
  <h1>Bu yorumu silmek istediğinizden emin misiniz?</h1>
  <h2>Bu eylemi geri alamazsınız, belki sadece
    <a data-no-instant href="<%= @comment.path %>/edit">DÜZENLEMEK</a> istersiniz?</h2>

  <%= form_tag "/comments/#{@comment.id}", method: :delete do %>
    <button class="cta">SİL</button>
  <% end %>

</div>
