<div class="container delete-confirm">
  <h4><%= @article.title %></h4>
  <h1>Bu makaleyi silmek istediğinizden emin misiniz?</h1>

  <h2>
    Bu eylemi geri alamazsınız, belki
    <a data-no-instant href="<%= @article.path %>/edit">
      <%= @article.published ? "yayından kaldırmak" : "düzenlemek" %>
    </a>
    isteyebilirsiniz?
  </h2>
  <%= form_tag "/articles/#{@article.id}", method: :delete do %>
    <button class="cta">SİL</button>
  <% end %>
</div>
