<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left">
  <div class="sidebar-bg" id="sidebar-bg-left"></div>
  <div class="side-bar">
    <div class="widget fixed-widget">
      <header>
        <h4>Arama Sonuçları</h4>
      </header>
      <div class="widget-body" style="margin-bottom:16px;">
        <a class="query-filter-button" data-filter="class_name:Article">GÖNDERİLER</a>
        <a class="query-filter-button" data-filter="class_name:PodcastEpisode">PODCASTLER</a>
        <a class="query-filter-button" data-filter="class_name:User">KİŞİLER</a>
        <a class="query-filter-button" data-filter="class_name:Comment">YORUMLAR</a>
        <hr>
        <a class="query-filter-button my-posts-query-button" data-filter="MY_POSTS">BENİM GÖNDERİLERİM</a>
      </div>
    </div>
  </div>
</div>
