<div class="user-settings-page">
  <h2> Hesabınızı silin</h2>
  <div class="settings-form">
    <h4 style="font-weight:400;">
      <%= form_tag user_full_delete_path, method: :delete, autocomplete: "off", id: "delete__account" do %>
        Hesbınızı silmek:
        <ul class="delete__account">
          <li>Twitter ve / veya GitHub ilişkilendirmelerinizle birlikte profilinizi silecek.
           Bu, uygulama izinlerini içermez. Onları kendiniz iptal etmeniz gerekecek:
            <a href="https://twitter.com/settings/applications">Twitter ayarları</a> ve
            <a href="https://github.com/settings/applications">GitHub ayarları</a>.
          </li>
          <%# TODO: expand the delete messaging later %>
          <li>makaleler, yorumlar, okuma listeniz veya sohbet mesajları gibi sahip olduğunuz tüm içeriği silin.</li>
          <li>kullanıcı adınızın herkesin kullanımına açık olmasına izin verin.</li>
        </ul>
        <div class="field">
          <label for="delete__account__username__field">
            <b> Hesabınızı silmek için kullanıcı adınızı yazın: </b>
          </label>
          <input type="text" name="delete__account__username__field" id="delete__account__username__field">
        </div>
        <div class="field">
          <label for="delete__account__verification__field">
            <b> Doğrulama için şu kelimeleri yazın: </b> <i> hesabımı sil </i>
          </label>
          <input type="text" name="delete__account__verification__field" id="delete__account__verification__field">
        </div>
        <button class="big-action danger-button small-button" id="delete__account__btn" type="submit" disabled="true">
          HESABI SİL
        </button>
      <% end %>
    </h4>
    <br>
    <script>
      const deleteAccountBtn = document.getElementById('delete__account__btn');
      const deleteAccountUsernameInput = document.getElementById('delete__account__username__field');
      const deleteAcccountVerificationInput = document.getElementById('delete__account__verification__field');
      function bothInputsVerified() {
        return deleteAccountUsernameInput.value === '<%= @user.username %>' && deleteAcccountVerificationInput.value === "delete my account";
      }
      const disableDeleteAccountBtn = () => { deleteAccountBtn.disabled = !bothInputsVerified() };
      deleteAccountUsernameInput.addEventListener('input', disableDeleteAccountBtn);
      deleteAcccountVerificationInput.addEventListener('input', disableDeleteAccountBtn);
    </script>
    <p>
      İçeriğinizi <% = link_to "@ghost", "/ ghost"%> hesabı altında tutmak istiyorsanız,
      lütfen <%= email_link(text: "buraya tıklayın", additional_info: { subject: "Hesap Silme İsteği", body: @email_body }) %>
    </p>

    <p>
      Herhangi bir sorunuz varsa <% = email_link%> ile iletişime geçmekten çekinmeyin.
    </p>
  </div>
</div>
