<% title "Confirm Signout - #{community_name}" %>
<div class="signout_confirm-wrapper">

  <h1>Çıkış yapmak istediğinizden emin misiniz?</h1>
  <%= form_tag destroy_user_session_path, method: :delete do %>
    <button class="cta">Evet.</button>
  <% end %>

</div>
